<table class="table table-striped table-hover">
  {% for torrent in object_list %}
    <tr>
      <td>
        <div class="task"
           data-id="{{ torrent.base_id }}">
          <span class="name">{{ torrent.name }}</span>
          <span class="progress muted pull-right span1">
            <span class="bar" style="width: {{ torrent.progress }}%">{{ torrent.progress }}%</span>
          </span>
          <span class="muted pull-right span2">{{ torrent.status }}</span>
          <span class="muted pull-right span2">{{ torrent.date_added|date:'Y-m-d H:i' }}</span>
          {% if torrent.status == 'stopped' %}
            <a class="pull-right btn btn-mini" href="{% url torrent_torrent_action id=torrent.base_id action="start" %}" target="form-iframe">Start</a>
          {% else %}
            <a class="pull-right btn btn-mini" href="{% url torrent_torrent_action id=torrent.base_id action="stop" %}" target="form-iframe">Stop</a>
          {% endif %}
        </div>
      </td>
    </tr>
  {% endfor %}
</table>
