{% extends "base.html" %}

{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" type="text/css" media="screen"/>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script lang="javascript">
  function refreshTasks() {
    $('#tasks').load('{% url torrent_torrent_list %}');
  }
  function searchTorrent(query, $element) {
    $element.attr('data-query', query);
    query = query.replace(/ /g, '+');
    var feed = new google.feeds.Feed("http://torrentz.com/feedP?q=" + query);
    feed.setNumEntries(100);
    feed.load(function(result) {
      if (!result.error) {
        var query = result.feed.description.replace(/ search$/, '');
        var $element = $("*[data-query='" + query + "']")
        $element.empty();
        for (var i = 0; i < result.feed.entries.length; i++) {
          var entry = result.feed.entries[i];
          var match = entry.link.match(/([0-9a-fA-F]{40})/);
          var hash = match[1];
          $element.append(
            $('<a>')
              .addClass('entry')
              .attr({
                'href': '#' + hash,
                'data-hash': hash,
                'data-text': entry.title,
                'data-query': query,
                'data-categories': entry.categories[0]
              })
              .html(entry.title)
              .append($('<span>').addClass('pull-right muted').text(entry.content))
              .click(function(event) {
                jQuery.get(
                  '{% url torrent_torrent_action action='add' %}/'+ $(this).attr('data-hash'),
                  {
                    'text': $(this).attr('data-text'),
                    'query': $(this).attr('data-query'),
                    'categories': $(this).attr('data-categories')
                  },
                  function(data) { $('#status').html(data); }
                );
                event.preventDefault();
                return false;
              })
          );
        }
      }
    });
  }
  function initialise() {}
  google.load("feeds", "1");
  google.setOnLoadCallback(initialise);
  $(document).ready(function() {
    var refreshTasksThread = setInterval(refreshTasks, 1000);
    $('#search-form').submit(function(event) {
      searchTorrent($("input[name='q']", this).val(), $('.search-result', this));
      event.preventDefault();
      return false;
    });
  });
  </script>
  <style>
  body { margin: 0px!important; padding: 0px!important; }
  .navbar-fixed-bottom, .navbar-fixed-top { margin-top: 0px!important; margin-bottom: 0px!important; position: fixed!important; }
  .tab-content { margin-top: 60px; margin-bottom: 40px; }
  .task .progress { margin-bottom: 2px; width: 100px; }
  .task .btn { margin-left: 2px; }
  .search-result .entry { display: block; }
  #form-iframe { display: none; }
  #status { font-size: 12px; }
  </style>
{% endblock %}

{% block body %}
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <ul id="tabs" class="nav">
        <li class="active"><a href="#tasks" data-toggle="tab">Tasks</a></li>
        <li><a href="#search" data-toggle="tab">Search</a></li>
      </ul>
    </div>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="tasks"></div>
    <div class="tab-pane" id="search">
      <form id="search-form">
        <input type="text" placeholder="Search" name="q"/>
        <div class="search-result"></div>
      </form>
    </div>
  </div>
  <div class="navbar navbar-fixed-bottom navbar-inverse">
    <div class="navbar-inner">
      <a href="javascript:;" id="status" class="brand"></a>
    </div>
  </div>
  <iframe id="form-iframe" name="form-iframe"></iframe>
{% endblock %}
