{% extends "base.html" %}

{% block scripts %}
  {{ block.super }}
  <!--<script type="text/javascript" src="https://www.google.com/jsapi"></script>-->
  <script lang="javascript">
  var addedTasks = new Array();
  var refreshTasksThread = null;
  function initialiseTasks() {
    $('#tasks div').load('{% url 'torrent_torrent_list' %}', function(text, status){
      if (status == "success" || status == "notmodified") {
        $('#status').empty()
        resizeElements();
        refreshTasksThread = setTimeout(refreshTasks, 1000);
      } else {
        $('#status').html('Failed to load torrent list. Retrying...')
        initialiseTasks();
      }
    });
  }
  function refreshTasks() {
    $.getJSON('{% url 'torrent_torrent_list' format='json' %}', function(data) {
      $('.task').attr('data-stale', '');
      var numTasks = 0;
      var totalDownloadRate = 0;
      var totalUploadRate = 0;
      for (var i = 0; i < data.length; i++) {
        var task = data[i];
        var el = $(".task[data-id='" + task.id + "']");
        if (el.length == 0 && addedTasks.indexOf(task.id) == -1) {
          var $td = $('<td>');
          $('#tasks table').prepend($('<tr>').append($td));
          $td.load('./' + task.id);
          addedTasks.push(task.id);
          continue;
        }
        el.removeAttr('data-stale');
        var r = task['rate_download'];
        totalDownloadRate += parseFloat(r) * (r.search('MB') == -1 ? 1 : 1024 * 1024) * (r.search('KB') == -1 ? 1 : 1024);
        r = task['rate_upload'];
        totalUploadRate += parseFloat(r) * (r.search('MB') == -1 ? 1 : 1024 * 1024) * (r.search('KB') == -1 ? 1 : 1024);
        for (key in task) {
          var value = task[key];
          if (key == 'progress') {
            el.find('.' + key).attr('class', 'progress ' + task.progress_css_class);
            el.find('.' + key + ' .progress-bar').css({ width: value + '%' }).html(task.progress_text + '%');
          } else {
            el.find('.' + key).html(value);
          }
          if (key == 'status') {
            if (value == 'stopped') {
              el.find('.action')
                .attr('href', 'action/' + task.id + '/start')
                .removeClass('btn-warning').addClass('btn-success')
                .find('.glyphicon').removeClass('glyphicon-pause').addClass('glyphicon-play')
                .parent().contents().last().replaceWith('start');
            } else {
              numTasks++;
              el.find('.action')
                .attr('href', 'action/' + task.id + '/stop')
                .removeClass('btn-success').addClass('btn-warning')
                .find('.glyphicon').removeClass('glyphicon-play').addClass('glyphicon-pause')
                .parent().contents().last().replaceWith('pause');
            }
          }
        }
      }
      $('title').html('↓' + (totalDownloadRate/1024).toFixed(1) + '↑' + (totalUploadRate/1024).toFixed(1) + ' - ' + numTasks + ' running');
      $('.task[data-stale]').parent().parent().remove();
      refreshTasks.timeout = 1000;
    }).fail(function(){
      refreshTasks.timeout *= 1.25;
    }).always(function(){
      refreshTasksThread = setTimeout(refreshTasks, refreshTasks.timeout);
    });
  }
  refreshTasks.timeout = 1000;
  function searchTorrent(query, $element) {
    $element.attr('data-query', query);
    query = query.replace(/ /g, '+');
    //var feed = new google.feeds.Feed("https://torrentzeu.to/rss/search?q=" + query);
    //feed.setNumEntries(100);
    //feed.load(function(result) {
    var url = "https://api.rss2json.com/v1/api.json?rss_url=" + encodeURIComponent("http://torrentzeu.to/rss/search?q=" + query);
    url += "&api_key=9bpk2omdesqozwktjfssekluanpdfas5igsw6cwo";
    $.getJSON(url, function(result) {
      if (!result.error) {
        //var query = result.feed.description.replace(/ search$/, '');
        var query = result.feed.description.replace(/^Search: /, '');
        var $element = $("*[data-query='" + query + "']")
        $element.empty();
        for (var i = 0; i < result.items.length; i++) {
          var entry = result.items[i];
          var match = entry.link.match(/([0-9a-fA-F]{40})/);
          var hash = match[1].toLowerCase();
          $element.append(
            $('<a>')
              .addClass('entry list-group-item')
              .attr({
                'href': '#' + hash,
                'data-hash': hash,
                'data-text': entry.title,
                'data-query': query,
                'data-categories': entry.categories.join(' ')
              })
              .html(entry.title)
              .append($('<span>').addClass('pull-right muted').text(entry.content))
              .click(function(event) {
                jQuery.get(
                  '{% url 'torrent_torrent_action' action='add' %}/'+ $(this).attr('data-hash'),
                  {
                    'text': $(this).attr('data-text'),
                    'query': $(this).attr('data-query'),
                    'categories': $(this).attr('data-categories')
                  },
                  function(data) { $('#status').text(data); }
                );
                event.preventDefault();
                return false;
              })
          );
        }
      }
    });
  }
  function initialise() {}
  if (typeof google != 'undefined') {
    google.load("feeds", "1");
    google.setOnLoadCallback(initialise);
  }
  function resizeElements() {
    $('.task .meta, .task .name').width($('.container').first().width() - 20);
  }
  $(document).ready(function() {
    initialiseTasks();
    $('#search-form').submit(function(event) {
      searchTorrent($("input[name='q']", this).val(), $('.search-result', this));
      event.preventDefault();
      return false;
    });
    $(window).resize(resizeElements);
    $(window).resize();
  });
  </script>
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <style>
  body { margin: 0px!important; padding: 0px!important; }
  .navbar-fixed-bottom, .navbar-fixed-top { margin-top: 0px!important; margin-bottom: 0px!important; position: fixed!important; }
  .table td { padding: 4px 0px!important; }
  .tab-content { margin-bottom: 40px; }
  .task .status { text-transform: capitalize; }
  .task .progress { margin-bottom: 2px; margin-left: 0px; }
  .task .btn { margin-left: 1px; padding: 0px 4px; }
  .task .btn .icon { margin-top: -2px; }
  .task .meta, .task .name { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
  .task .actions .btn { width: 82px; }
  .task .actions.list-inline { margin: 3px 0px; }
  .search-result .entry { display: block; }
  #search-form { padding-top: 15px; }
  #form-iframe { display: none; }
  #status { font-size: 12px; }
  .progress-disabled .progress-bar, .progress .progress-bar-disabled {
      background-color: #888;
      background-image: -moz-linear-gradient(top,#999,#777);
      background-image: -webkit-gradient(linear,0 0,0 100%,from(#999),to(#777));
      background-image: -webkit-linear-gradient(top,#999,#777);
      background-image: -o-linear-gradient(top,#999,#777);
      background-image: linear-gradient(to bottom,#999,#777);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff999999',endColorstr='#ff777777',GradientType=0);
  }
  </style>
{% endblock %}

{% block container_class %}{% endblock %}
{% block container_row_class %}{% endblock %}
{% block content_class %}{% endblock %}

{% block navigation %}
  <ul id="tabs" class="nav navbar-nav navbar-left">
    <li class="active"><a href="#tasks" data-toggle="tab">Torrents</a></li>
    <li><a href="#search" data-toggle="tab">Search</a></li>
  </ul>
{% endblock %}

{% block content %}
  <div class="tab-content">
    <div class="tab-pane active" id="tasks"><div></div></div>
    <div class="tab-pane" id="search">
      <div class="container-fluid">
        <form id="search-form" class="form-horizontal">
          <div class="form-group">
            <div class="col-md-12">
              <input class="form-control" type="text" placeholder="Search" name="q"/>
            </div>
          </div>
          <div class="search-result list-group col-md-12"></div>
        </form>
      </div>
    </div>
  </div>
  <div class="navbar navbar-fixed-bottom navbar-default">
    <div class="navbar-inner">
      <div href="javascript:;" id="status" class="navbar-brand"></div>
    </div>
  </div>
  <iframe id="form-iframe" name="form-iframe"></iframe>
{% endblock %}
